.modal {
  position: fixed;
  inset: 0;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
  overflow: hidden;
}
.modalcontent {
  max-width: 90vw;
  max-height: 80vh;
  width: 500px;
  height: fit-content;
  background-color: var(--color-1);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.modalimage {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  max-height: 32vh;
}
.modaltitle {
  margin: 20px 15px;
  color: white;
  font-size: 37px;
  font-weight: 900;
  text-align: center;
  font-family: sans-serif;
}
.modaldescription {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.05rem;
  font-weight: 600;
  text-align: center;
  font-family: sans-serif;
  height: 270px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0 20px;
  text-align: justify;
  text-justify: inter-word;
  hyphens: auto;
}
.modalinfo {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.modalcategory {
  height: 30px;
  border-radius: 10px;
  background: rgb(6, 85, 17);
  padding: 4px 9px;
  color: #fff;
  font-size: 18px;
  display: flex;
  gap: 7px;
  font-weight: 500;
  font-family: sans-serif;
}
.modalauthor {
  color: #c3c6cea4;
  font-size: 17px;
  font-family: sans-serif;
}
.modalbutton {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.1);
  padding: 7px 15px;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  font-family: sans-serif;
}
@media screen and (max-width: 600px) {
  .modalauthor {
    display: none;
  }
}
