.modal {
  position: fixed;
  inset: 0;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3vw;
  z-index: 2000;
  overflow: hidden;
  color: var(--color-1);
}
.modalp1 {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  .modalimg {
    width: 40vw;
    aspect-ratio: 16/9;
    border-radius: 5px 5px 0 0;
  }
  h1 {
    width: 100%;
    padding: 20px;
    background: #f9f9f9;
    font-size: 1.7em;
    font-weight: 900;
    font-family: sans-serif;
    text-align: center;
  }
}
.modalp2 {
  height: 80vh;
  overflow: auto;
  max-width: 40vw;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 1em;
  line-height: 1.5;
  padding: 5px;
}
.modalinfo {
  background: #f9f9f9;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10px;
  border-radius: 0 0 5px 5px;
}
.modalcategory {
  height: 30px;
  border-radius: 10px;
  background: rgb(6, 85, 17);
  padding: 4px 9px;
  color: #fff;
  font-size: 18px;
  display: flex;
  gap: 7px;
  font-weight: 500;
  font-family: sans-serif;
}
.modalauthor {
  font-size: 17px;
  font-family: sans-serif;
}
.modalclose {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 30px;
  cursor: pointer;
}
.modalshare {
  position: absolute;
  top: 10px;
  right: 60px;
  font-size: 30px;
  cursor: pointer;
  img {
    width: 20px;
    height: 20px;
  }
}
@media screen and (max-width: 900px) {
  .modal {
    gap: 20px;
    flex-direction: column;
  }
  .modalp1 {
    margin-top: 50px;
    .modalimg {
      width: 90vw;
    }
  }
  .modalp2 {
    max-width: 90vw;
    max-height: fit-content;
    margin-bottom: 30px;
  }
}
