:root {
  --color-1: #f8f8f8;
  --color-2: #d8d8d8;
}
#root {
  min-height: 100vh;
  min-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
  color: rgba(0, 0, 0, 0.8);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
p,
h1,
h2 {
  margin: 0;
}
