:root {
  --color-1: #052842;
  --color-2: #e9456c;
}
#root {
  min-height: 100vh;
  min-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
  color: rgb(255, 255, 255);
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}
body {
  overflow-x: hidden;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
p,
h1,
h2 {
  margin: 0;
}
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background: #052842b7;
}
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.6);
}
input {
  outline: none;
}
