.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 45px;
  font-size: 12px;
  background-color: #052842e0;
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgba(255, 255, 255, 0.4);
  cursor: default;
}
