.scrolltop {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 10px;
  cursor: pointer;
  z-index: 100;
  border-radius: 5px;
  height: 55px;
  width: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    height: 55%;
    width: 60%;
    filter: invert(9%) sepia(71%) saturate(850%) hue-rotate(166deg)
      brightness(90%) contrast(105%);
  }
}
