.modal {
  position: fixed;
  inset: 0;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  background-color: white;
  align-items: center;
  z-index: 2000;
  overflow: hidden;
  color: var(--color-1);
  input {
    width: 250px;
    border-radius: 5px;
    border: 1px solid var(--color-1);
    padding: 7px;
    font-size: 16px;
  }
  h2 {
    font-family: sans-serif;
    font-size: 28px;
    font-weight: 600;
  }
  button {
    width: 100%;
    outline: none;
    border: none;
    padding: 7px 15px;
    font-weight: 600;
    font-family: sans-serif;
    font-size: 18px;
    color: white;
    background-color: var(--color-1);
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.2s ease-out;
  }
  button:hover {
    background-color: var(--color-2);
  }
  .error {
    height: 20px;
    color: red;
  }
  img {
    width: 100px;
  }
}
.modalcontent {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
  padding: 50px;
  color: var(--color-1);
  border: 1px solid #0528425d;
  border-radius: 5px;
  background: #f9f9f9;
}
